/* Base styles */
body {
    font-size: 16px;
    line-height: 1.5;
}

/* Responsive images */
img {
    max-width: 100%;
    height: auto;
}

/* Responsive typography */
h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.17em;
}

/* Touch-friendly navigation */
#offcanvas_menu a {
    padding: 10px;
    display: inline-block;
}

/* Media Queries */

/* Small devices (phones) */
@media only screen and (max-width: 600px) {
    body {
        font-size: 14px;
    }

    #meg-cychosz {
        font-size: 1.8em;
    }

    .mb-5 {
        margin-bottom: 1rem !important;
    }

    [role="main"] {
        padding: 1rem;
    }

    #offcanvas_menu {
        width: 100%;
    }

    #offcanvas_menu ul {
        padding: 0;
    }

    #offcanvas_menu li {
        display: block;
        margin-bottom: 10px;
    }
}

/* Medium devices (tablets) */
@media only screen and (min-width: 601px) and (max-width: 992px) {
    body {
        font-size: 15px;
    }

    #meg-cychosz {
        font-size: 2.2em;
    }
}

/* Large devices (desktops) */
@media only screen and (min-width: 993px) {
    /* You can add specific styles for large screens here if needed */
}

body {
    /*background-image: url('../img/s-esh_spectrogram.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;*/
    background: none; /* Removes any background, including images or colors */

}

@media only screen and (max-width: 768px) {
    body {
        background-attachment: scroll; /* This can improve performance on mobile devices */
    }
    /* Your other existing mobile styles... */
}